textarea {
	width: 95%;
/*	font-family:'Josefin Sans', sans-serif;*/
	font-family:'Lora', serif;
	font-weight:400;
	font-size:18px;
	border-bottom-style:none;
	border-right-style:none;
	resize:none;
	padding:2.5%;
	background-color: rgba(255,255,255,.25) !important;
}

.date {
	float:right;
	font-family:'Lora', serif;
	font-weight:400;
	font-size:18px;
	text-align:right;
	margin:10px;

}

.popup h2{
	font-size:24px;
	color:#8c315d;
	font-weight:700;
}

h3 {
	color:#8c315d;
	font-weight:600;
}
#thoughts-popup .popup-content{
	position:relative;
	top:-30px;

}

#thoughts-popup img {
	width:100%;
}

#submitJournal {
	float:right;
	border-radius:20px;
	font-family:'Josefin Sans', sans-serif;
	font-weight:600;
	font-size:18px;
	padding:5px;
	width:80px;
	margin:10px;
	margin-right:0px;
	color:white;

}

#CalorieTextarea {
	margin:auto;
	font-size:24px;
	width:80px;
	height:30px;
	padding:10px;
	text-align:right;
	resize:none;
	border-radius:3px;
	border-style:none;
	border-bottom-style:solid;
	background-color: rgba(255,255,255,.75) !important;
	transition: .2s all;
	border-color:#b9dfc4;
}
