
#reminders .box{
  color:white;
}

#remindersList {
    list-style-type:none;
    padding: 0;
}

#remindersList li{
/*    margin-bottom: 3px;*/
  margin:10px 0;
}

#remindersList li p{
    display: inline-block;
    width: 80%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.remindersCheck{
    display: inline-block;
    float: right;
}

.remindersInputBox{
    width: 95%;
    padding:2.5%;
    background-color: rgba(198,63,126,.25);
    border-style:none;
     border-radius:3px;
     color:white;
     font-size:17px;
/*     font-family: "Lora", serif;*/
    font-family: "Josefin Sans", sans-serif;
/*     border-bottom-left-radius:0px;
      border-bottom-right-radius:0px;*/
    border-bottom-style: solid;
    border-bottom-color:#C63F7E;
    transition: .2s all;


}

.remindersInputBox:focus{
    /*border-bottom-color:#FF5E99;*/
    border-bottom-color:#FF87A7;
}

.remindersInputBox::-webkit-input-placeholder{
    color: #C63F7E;

}
