html,body {
  padding:0;
  margin:0;
  min-height: 100%;

}
body {
 /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
/*  font-weight: lighter;*/
  background-color: #f9f9f9;
}

h1 {
  /*font-weight: lighter;*/
  color:#ff695c; /*red color*/
    font-weight: 700;
}

h2 {
/*  font-weight: lighter;
*/ margin:0;
  font-weight:600;
  color:white;

}

/* CSS for disabling select */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


/*
  Color schemes for divs
*/

.green{
  border-right-style:solid;
  border-bottom-style:solid;
  background-color: #8DC9B5;
  border-color: #4d947c;
  border-width:3px;
}

.lightGreen{
  border-right-style:solid;
  border-bottom-style:solid;
  border-width:3px;
  border-color: #b9dfc4;
  background-color: #e6f8eb;
}

.purple{
  border-right-style:solid;
  border-bottom-style:solid;
  border-width:3px;
  background-color:#8c315d;
  border-color: #571334;
}

.red{
  border-right-style:solid;
  border-bottom-style:solid;
  border-width:3px;
  background-color: #ff695c;
  border-color:#dd483b;
}

/*
  General layout
*/
#wrapper {
  padding: 20px;
/*  background-color:green;*/
  max-width:1200px;
  margin:auto;
  padding-top:0px;
}
#welcome {
  font-size: 24px;
  padding-left: 20px;
  color:#8c315d;
}

#header{
  padding-left: 20px;
  padding-right: 5px;
}
#content {
  width: 100%;
/*  background: #ddd;*/
  overflow: auto;
  margin:auto;
  box-sizing: border-box;
}

.section {
  padding: 3px;
}

.box {
  border-radius: 5px;
/*  border: 1px #aaa solid;*/

  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  margin:.5%;


   border-right-style:solid;
  border-bottom-style:solid;
  border-width:3px;

}

.col {
  margin:.5%;
}

#info .box {
  padding:40px;

}

#info .box h2 {
  color: #8c315d;
}



#info .left{
  width:35%;
  display:inline;
  float:left;
/*  padding:10px;*/
  text-align:center;


}
h2{
  text-align:left;
}

#info .mid {
  width:32%;
  display:inline;
  position:relative;
  top:-16px;

  float:left;
}

#info .right{
  width: 32%;
  display:inline;
  position:relative;
  top:-16px;
  float:right;


}

#info li {
  margin:14px 0;
}
#info h3 {
  color:#ff695c;
}

.fruit {
  width:100%;
  max-width:180px;
  margin:10px;
/*  float:left;*/
}

.col {
  display: inline-block;
  float: left;
}

#left-col {
  width: 68%;
}

#right-col {
  width: 28%;
}

#trackers{
/*  text-align:center;*/
/*padding-left:40px;*/

}

#trackers h2{
  padding-left:20px;
  padding-top:10px;
}

#trackers .box {

  font-weight:600;
  border-right-style:solid;
  border-bottom-style:solid;
  border-width:3px;

}

.tracker-box {
  width: 32%;
  box-sizing: border-box;

}

.tracker-content {
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  cursor: pointer;
  transition: .25s background;
  text-align: center;
  font-size: 24px;
  color:#8c315d;



}
.tracker-content:hover {
  background-color:#7abca6;

}
.tracker-box img {
  width:40%;
  height: 40%;
  display: block;
  margin: 10px auto;
}

#tracker-wrapper {
  padding: 5px 20px;
  overflow: auto;
}


#reminders .box{
  color:white;
}

#send-report .box{

  color:white;
  transition: .25s ;

}

#send-report .box:hover{
  background-color: #dd483b;
}
/*
  Popup style
*/
.popup-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  opacity:0;
  z-index:-1;
  transition: .1s opacity;
  padding: 30px;
  box-sizing: border-box;
  display:none;

}
.popup {
/*  background: White;*/
  width: 50%;
  min-width: 400px;
  padding: 40px;
  margin: 0 auto;
  position: relative;
  border-radius:5px;
  border-width:3px;


}
.popup-header{
  font-size: 24px;
  width:100%;
  /*margin: 10px 0;*/
  margin-top:0px;
  margin-bottom:20px;

}
.popup-x {
  position: absolute;
  right: 7px;
  top: 5px;
  width:20px;
  text-align: right;
  cursor: pointer;
  color: #666;
  z-index: 1003;

}
.popup-x:hover {
  color: red;
}

.popup-wrapper.active {
  opacity:1;
  z-index:1000;
  display:block;
}
#darken {
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  background: rgba(77,35,55,0.75);
  opacity:0;
  z-index:-1;
  transition: .1s opacity;
}
#darken.active {
  opacity:1;
  z-index:999;
}